# Importing libraries

In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session
from termcolor import colored

/kaggle/input/brazilian-ecommerce/olist_customers_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_sellers_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_order_reviews_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_order_items_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_products_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_geolocation_dataset.csv
/kaggle/input/brazilian-ecommerce/product_category_name_translation.csv
/kaggle/input/brazilian-ecommerce/olist_orders_dataset.csv
/kaggle/input/brazilian-ecommerce/olist_order_payments_dataset.csv

# Loading dataframes:

In [2]:
df_customer = pd.read_csv('../input/brazilian-ecommerce/olist_customers_dataset.csv')
df_geolocation = pd.read_csv('../input/brazilian-ecommerce/olist_geolocation_dataset.csv')
df_order_items = pd.read_csv('../input/brazilian-ecommerce/olist_order_items_dataset.csv')
df_order_payments = pd.read_csv('../input/brazilian-ecommerce/olist_order_payments_dataset.csv')
df_order_reviews = pd.read_csv('../input/brazilian-ecommerce/olist_order_reviews_dataset.csv')
df_orders = pd.read_csv('../input/brazilian-ecommerce/olist_orders_dataset.csv')
df_products = pd.read_csv('../input/brazilian-ecommerce/olist_products_dataset.csv')
df_sellers = pd.read_csv('../input/brazilian-ecommerce/olist_products_dataset.csv')
df_product_category_name=pd.read_csv('../input/brazilian-ecommerce/product_category_name_translation.csv')

# Exploring our dataset:
viewing first few cells and dimensions of each dataframe

In [3]:
def explore(fname):   
    print(colored('\nTable preview:', 'blue', attrs=['bold']))
    with pd.option_context('display.max_rows', 5,
                       'display.max_columns', None,
                       'display.width', 1000,
                       'display.precision', 3,
                       'display.colheader_justify', 'left'):
        display(fname)
    print(colored('\nShape:', 'blue', attrs=['bold']))
    print(fname.shape)
    print(colored('\nInformation:', 'blue', attrs=['bold']))
    print(fname.info())
    print(colored('\nDescription:', 'blue', attrs=['bold']))
    print(fname.describe(include='all').to_markdown())

In [4]:
explore(df_customer)

Table preview:

      customer_id                       customer_unique_id                 customer_zip_code_prefix customer_city          customer_state
0      06b8999e2fba1a1fbc88172c00ba8bc7  861eff4711a542e4b93843c6dd7febb0  14409                                    franca  SP
1      18955e83d337fd6b2def6b18a428ac77  290c77bc529b7ac935b93aa66c333dc3   9790                     sao bernardo do campo  SP
...                                 ...                               ...                       ...                    ...            ...
99439  56b18e2166679b8a959d72dd06da27f9  73c2643a0a458b49f58cea58833b192e  92120                                    canoas  RS
99440  274fa6071e5e17fe303b9748641082c8  84732c5050c01db9b23e19ba39899398   6703                                     cotia  SP

[99441 rows x 5 columns]

Shape:
(99441, 5)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   customer_id               99441 non-null  object
 1   customer_unique_id        99441 non-null  object
 2   customer_zip_code_prefix  99441 non-null  int64
 3   customer_city             99441 non-null  object
 4   customer_state            99441 non-null  object
dtypes: int64(1), object(4)
memory usage: 3.8+ MB
None

Description:
|        | customer_id                      | customer_unique_id               |   customer_zip_code_prefix | customer_city   | customer_state   |
|:-------|:---------------------------------|:---------------------------------|---------------------------:|:----------------|:-----------------|
| count  | 99441                            | 99441                            |                    99441   | 99441           | 99441            |
| unique | 99441                            | 96096                            |                      nan   | 4119            | 27               |
| top    | 06b8999e2fba1a1fbc88172c00ba8bc7 | 8d50f5eadf50201ccdcedfb9e2ac8455 |                      nan   | sao paulo       | SP               |
| freq   | 1                                | 17                               |                      nan   | 15540           | 41746            |
| mean   | nan                              | nan                              |                    35137.5 | nan             | nan              |
| std    | nan                              | nan                              |                    29797.9 | nan             | nan              |
| min    | nan                              | nan                              |                     1003   | nan             | nan              |
| 25%    | nan                              | nan                              |                    11347   | nan             | nan              |
| 50%    | nan                              | nan                              |                    24416   | nan             | nan              |
| 75%    | nan                              | nan                              |                    58900   | nan             | nan              |
| max    | nan                              | nan                              |                    99990   | nan             | nan              |

In [5]:
explore(df_geolocation)

Table preview:

         geolocation_zip_code_prefix  geolocation_lat  geolocation_lng geolocation_city geolocation_state
0         1037                       -23.546          -46.639                 sao paulo  SP
1         1046                       -23.546          -46.645                 sao paulo  SP
...                              ...              ...              ...              ...               ...
1000161  99980                       -28.389          -51.847           david canabarro  RS
1000162  99950                       -28.070          -52.019                  tapejara  RS

[1000163 rows x 5 columns]

Shape:
(1000163, 5)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000163 entries, 0 to 1000162
Data columns (total 5 columns):
 #   Column                       Non-Null Count    Dtype
---  ------                       --------------    -----
 0   geolocation_zip_code_prefix  1000163 non-null  int64
 1   geolocation_lat              1000163 non-null  float64
 2   geolocation_lng              1000163 non-null  float64
 3   geolocation_city             1000163 non-null  object
 4   geolocation_state            1000163 non-null  object
dtypes: float64(2), int64(1), object(2)
memory usage: 38.2+ MB
None

Description:
|        |   geolocation_zip_code_prefix |   geolocation_lat |   geolocation_lng | geolocation_city   | geolocation_state   |
|:-------|------------------------------:|------------------:|------------------:|:-------------------|:--------------------|
| count  |                   1.00016e+06 |       1.00016e+06 |       1.00016e+06 | 1000163            | 1000163             |
| unique |                 nan           |     nan           |     nan           | 8011               | 27                  |
| top    |                 nan           |     nan           |     nan           | sao paulo          | SP                  |
| freq   |                 nan           |     nan           |     nan           | 135800             | 404268              |
| mean   |               36574.2         |     -21.1762      |     -46.3905      | nan                | nan                 |
| std    |               30549.3         |       5.71587     |       4.26975     | nan                | nan                 |
| min    |                1001           |     -36.6054      |    -101.467       | nan                | nan                 |
| 25%    |               11075           |     -23.6035      |     -48.5732      | nan                | nan                 |
| 50%    |               26530           |     -22.9194      |     -46.6379      | nan                | nan                 |
| 75%    |               63504           |     -19.9796      |     -43.7677      | nan                | nan                 |
| max    |               99990           |      45.0659      |     121.105       | nan                | nan                 |

In [6]:
explore(df_order_items)

Table preview:

       order_id                           order_item_id product_id                        seller_id                         shipping_limit_date   price   freight_value
0       00010242fe8c5a6d1ba2dd792cb16214  1              4244733e06e7ecb4970a6e2683c13e61  48436dade18ac8b2bce089ec2a041202  2017-09-19 09:45:35   58.90  13.29
1       00018f77f2f0320c557190d7a144bdd3  1              e5f2d52b802189ee658865ca93d83a8f  dd7ddc04e1b6c2c614352b383efe2d36  2017-05-03 11:05:13  239.90  19.93
...                                  ...            ...                               ...                               ...                  ...     ...            ...
112648  fffe18544ffabc95dfada21779c9644f  1              9c422a519119dcad7575db5af1ba540e  2b3e4a2a3ea8e01938cabda2a3e5cc79  2017-08-21 00:04:32   55.99   8.72
112649  fffe41c64501cc87c801fd61db3f6244  1              350688d9dc1e75ff97be326363655e01  f7ccf836d21b2fb1de37564105216cc1  2018-06-12 17:10:13   43.00  12.79

[112650 rows x 7 columns]

Shape:
(112650, 7)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 112650 entries, 0 to 112649
Data columns (total 7 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   order_id             112650 non-null  object
 1   order_item_id        112650 non-null  int64
 2   product_id           112650 non-null  object
 3   seller_id            112650 non-null  object
 4   shipping_limit_date  112650 non-null  object
 5   price                112650 non-null  float64
 6   freight_value        112650 non-null  float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.0+ MB
None

Description:
|        | order_id                         |   order_item_id | product_id                       | seller_id                        | shipping_limit_date   |      price |   freight_value |
|:-------|:---------------------------------|----------------:|:---------------------------------|:---------------------------------|:----------------------|-----------:|----------------:|
| count  | 112650                           |   112650        | 112650                           | 112650                           | 112650                | 112650     |     112650      |
| unique | 98666                            |      nan        | 32951                            | 3095                             | 93318                 |    nan     |        nan      |
| top    | 8272b63d03f5f79c56e9e4120aec44ef |      nan        | aca2eb7d00ea1a7b8ebd4e68314663af | 6560211a19b47992c3666cc44a7e94c0 | 2017-07-21 18:25:23   |    nan     |        nan      |
| freq   | 21                               |      nan        | 527                              | 2033                             | 21                    |    nan     |        nan      |
| mean   | nan                              |        1.19783  | nan                              | nan                              | nan                   |    120.654 |         19.9903 |
| std    | nan                              |        0.705124 | nan                              | nan                              | nan                   |    183.634 |         15.8064 |
| min    | nan                              |        1        | nan                              | nan                              | nan                   |      0.85  |          0      |
| 25%    | nan                              |        1        | nan                              | nan                              | nan                   |     39.9   |         13.08   |
| 50%    | nan                              |        1        | nan                              | nan                              | nan                   |     74.99  |         16.26   |
| 75%    | nan                              |        1        | nan                              | nan                              | nan                   |    134.9   |         21.15   |
| max    | nan                              |       21        | nan                              | nan                              | nan                   |   6735     |        409.68   |

In [7]:
explore(df_order_payments)

Table preview:

       order_id                           payment_sequential payment_type  payment_installments  payment_value
0       b81ef226f3fe1789b1e8b2acac839d17  1                   credit_card  8                      99.33
1       a9810da82917af2d9aefd1278f1dcfa0  1                   credit_card  1                      24.39
...                                  ...                 ...          ...                   ...            ...
103884  b8b61059626efa996a60be9bb9320e10  1                   credit_card  5                     369.54
103885  28bbae6599b09d39ca406b747b6632b1  1                        boleto  1                     191.58

[103886 rows x 5 columns]

Shape:
(103886, 5)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103886 entries, 0 to 103885
Data columns (total 5 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   order_id              103886 non-null  object
 1   payment_sequential    103886 non-null  int64
 2   payment_type          103886 non-null  object
 3   payment_installments  103886 non-null  int64
 4   payment_value         103886 non-null  float64
dtypes: float64(1), int64(2), object(2)
memory usage: 4.0+ MB
None

Description:
|        | order_id                         |   payment_sequential | payment_type   |   payment_installments |   payment_value |
|:-------|:---------------------------------|---------------------:|:---------------|-----------------------:|----------------:|
| count  | 103886                           |        103886        | 103886         |           103886       |      103886     |
| unique | 99440                            |           nan        | 5              |              nan       |         nan     |
| top    | fa65dad1b0e818e3ccc5cb0e39231352 |           nan        | credit_card    |              nan       |         nan     |
| freq   | 29                               |           nan        | 76795          |              nan       |         nan     |
| mean   | nan                              |             1.09268  | nan            |                2.85335 |         154.1   |
| std    | nan                              |             0.706584 | nan            |                2.68705 |         217.494 |
| min    | nan                              |             1        | nan            |                0       |           0     |
| 25%    | nan                              |             1        | nan            |                1       |          56.79  |
| 50%    | nan                              |             1        | nan            |                1       |         100     |
| 75%    | nan                              |             1        | nan            |                4       |         171.838 |
| max    | nan                              |            29        | nan            |               24       |       13664.1   |

In [8]:
explore(df_order_reviews)

Table preview:

      review_id                         order_id                           review_score review_comment_title review_comment_message                             review_creation_date review_answer_timestamp
0      7bc2406110b926393aa56f80a40eba40  73fc7af87114b39712e6da79b0a377eb  4             NaN                                                                NaN  2018-01-18 00:00:00  2018-01-18 21:46:59
1      80e641a11e56f04c1ad469d5645fdfde  a548910a1c6147796b98fdf73dbeba33  5             NaN                                                                NaN  2018-03-10 00:00:00  2018-03-11 03:05:13
...                                 ...                               ...           ...                  ...                                                ...                  ...                     ...
99222  1adeb9d84d72fe4e337617733eb85149  7725825d039fc1f0ceb7635e3f7d9206  4             NaN                                                                NaN  2018-07-01 00:00:00  2018-07-02 12:59:13
99223  efe49f1d6f951dd88b51e6ccd4cc548f  90531360ecb1eec2a1fbb265a0db0508  1             NaN                  meu produto chegou e ja tenho que devolver, po...  2017-07-03 00:00:00  2017-07-03 21:01:49

[99224 rows x 7 columns]

Shape:
(99224, 7)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99224 entries, 0 to 99223
Data columns (total 7 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   review_id                99224 non-null  object
 1   order_id                 99224 non-null  object
 2   review_score             99224 non-null  int64
 3   review_comment_title     11568 non-null  object
 4   review_comment_message   40977 non-null  object
 5   review_creation_date     99224 non-null  object
 6   review_answer_timestamp  99224 non-null  object
dtypes: int64(1), object(6)
memory usage: 5.3+ MB
None

Description:
|        | review_id                        | order_id                         |   review_score | review_comment_title   | review_comment_message   | review_creation_date   | review_answer_timestamp   |
|:-------|:---------------------------------|:---------------------------------|---------------:|:-----------------------|:-------------------------|:-----------------------|:--------------------------|
| count  | 99224                            | 99224                            |    99224       | 11568                  | 40977                    | 99224                  | 99224                     |
| unique | 98410                            | 98673                            |      nan       | 4527                   | 36159                    | 636                    | 98248                     |
| top    | 7b606b0d57b078384f0b58eac1d41d78 | c88b1d1b157a9999ce368f218a407141 |      nan       | Recomendo              | Muito bom                | 2017-12-19 00:00:00    | 2017-06-15 23:21:05       |
| freq   | 3                                | 3                                |      nan       | 423                    | 230                      | 463                    | 4                         |
| mean   | nan                              | nan                              |        4.08642 | nan                    | nan                      | nan                    | nan                       |
| std    | nan                              | nan                              |        1.34758 | nan                    | nan                      | nan                    | nan                       |
| min    | nan                              | nan                              |        1       | nan                    | nan                      | nan                    | nan                       |
| 25%    | nan                              | nan                              |        4       | nan                    | nan                      | nan                    | nan                       |
| 50%    | nan                              | nan                              |        5       | nan                    | nan                      | nan                    | nan                       |
| 75%    | nan                              | nan                              |        5       | nan                    | nan                      | nan                    | nan                       |
| max    | nan                              | nan                              |        5       | nan                    | nan                      | nan                    | nan                       |

In [9]:
explore(df_orders)

Table preview:

      order_id                          customer_id                       order_status order_purchase_timestamp order_approved_at    order_delivered_carrier_date order_delivered_customer_date order_estimated_delivery_date
0      e481f51cbdc54678b7cc49136f2d6af7  9ef432eb6251297304e76186b10a928d  delivered    2017-10-02 10:56:33      2017-10-02 11:07:15  2017-10-04 19:55:00          2017-10-10 21:25:13           2017-10-18 00:00:00
1      53cdb2fc8bc7dce0b6741e2150273451  b0830fb4747a6c6d20dea0b8c802d7ef  delivered    2018-07-24 20:41:37      2018-07-26 03:24:27  2018-07-26 14:31:00          2018-08-07 15:27:45           2018-08-13 00:00:00
...                                 ...                               ...          ...                      ...                  ...                          ...                           ...                           ...
99439  11c177c8e97725db2631073c19f07b62  b331b74b18dc79bcdf6532d51e1637c1  delivered    2018-01-08 21:28:27      2018-01-08 21:36:21  2018-01-12 15:35:03          2018-01-25 23:32:54           2018-02-15 00:00:00
99440  66dea50a8b16d9b4dee7af250b4be1a5  edb027a75a1449115f6b43211ae02a24  delivered    2018-03-08 20:57:30      2018-03-09 11:20:28  2018-03-09 22:11:59          2018-03-16 13:08:30           2018-04-03 00:00:00

[99441 rows x 8 columns]

Shape:
(99441, 8)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99441 entries, 0 to 99440
Data columns (total 8 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   order_id                       99441 non-null  object
 1   customer_id                    99441 non-null  object
 2   order_status                   99441 non-null  object
 3   order_purchase_timestamp       99441 non-null  object
 4   order_approved_at              99281 non-null  object
 5   order_delivered_carrier_date   97658 non-null  object
 6   order_delivered_customer_date  96476 non-null  object
 7   order_estimated_delivery_date  99441 non-null  object
dtypes: object(8)
memory usage: 6.1+ MB
None

Description:
|        | order_id                         | customer_id                      | order_status   | order_purchase_timestamp   | order_approved_at   | order_delivered_carrier_date   | order_delivered_customer_date   | order_estimated_delivery_date   |
|:-------|:---------------------------------|:---------------------------------|:---------------|:---------------------------|:--------------------|:-------------------------------|:--------------------------------|:--------------------------------|
| count  | 99441                            | 99441                            | 99441          | 99441                      | 99281               | 97658                          | 96476                           | 99441                           |
| unique | 99441                            | 99441                            | 8              | 98875                      | 90733               | 81018                          | 95664                           | 459                             |
| top    | e481f51cbdc54678b7cc49136f2d6af7 | 9ef432eb6251297304e76186b10a928d | delivered      | 2018-04-11 10:48:14        | 2018-02-27 04:31:10 | 2018-05-09 15:48:00            | 2018-05-08 23:38:46             | 2017-12-20 00:00:00             |
| freq   | 1                                | 1                                | 96478          | 3                          | 9                   | 47                             | 3                               | 522                             |

In [10]:
explore(df_products)

Table preview:

      product_id                        product_category_name    product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0      1e9e8ef04dbcff4541ed26657ea517e5              perfumaria  40.0                 287.0                       1.0                  225.0            16.0               10.0               14.0
1      3aa071139cb16b67ca9e5dea641aaa2f                   artes  44.0                 276.0                       1.0                 1000.0            30.0               18.0               20.0
...                                 ...                     ...                  ...                         ...                 ...               ...                ...                ...               ...
32949  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios  60.0                 156.0                       2.0                  700.0            31.0               13.0               20.0
32950  106392145fca363410d287a815be6de4         cama_mesa_banho  58.0                 309.0                       1.0                 2083.0            12.0                2.0                7.0

[32951 rows x 9 columns]

Shape:
(32951, 9)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

Description:
|        | product_id                       | product_category_name   |   product_name_lenght |   product_description_lenght |   product_photos_qty |   product_weight_g |   product_length_cm |   product_height_cm |   product_width_cm |
|:-------|:---------------------------------|:------------------------|----------------------:|-----------------------------:|---------------------:|-------------------:|--------------------:|--------------------:|-------------------:|
| count  | 32951                            | 32341                   |            32341      |                    32341     |          32341       |           32949    |          32949      |          32949      |         32949      |
| unique | 32951                            | 73                      |              nan      |                      nan     |            nan       |             nan    |            nan      |            nan      |           nan      |
| top    | 1e9e8ef04dbcff4541ed26657ea517e5 | cama_mesa_banho         |              nan      |                      nan     |            nan       |             nan    |            nan      |            nan      |           nan      |
| freq   | 1                                | 3029                    |              nan      |                      nan     |            nan       |             nan    |            nan      |            nan      |           nan      |
| mean   | nan                              | nan                     |               48.4769 |                      771.495 |              2.18899 |            2276.47 |             30.8151 |             16.9377 |            23.1967 |
| std    | nan                              | nan                     |               10.2457 |                      635.115 |              1.73677 |            4282.04 |             16.9145 |             13.6376 |            12.079  |
| min    | nan                              | nan                     |                5      |                        4     |              1       |               0    |              7      |              2      |             6      |
| 25%    | nan                              | nan                     |               42      |                      339     |              1       |             300    |             18      |              8      |            15      |
| 50%    | nan                              | nan                     |               51      |                      595     |              1       |             700    |             25      |             13      |            20      |
| 75%    | nan                              | nan                     |               57      |                      972     |              3       |            1900    |             38      |             21      |            30      |
| max    | nan                              | nan                     |               76      |                     3992     |             20       |           40425    |            105      |            105      |           118      |

In [11]:
explore(df_sellers)

Table preview:

      product_id                        product_category_name    product_name_lenght  product_description_lenght  product_photos_qty  product_weight_g  product_length_cm  product_height_cm  product_width_cm
0      1e9e8ef04dbcff4541ed26657ea517e5              perfumaria  40.0                 287.0                       1.0                  225.0            16.0               10.0               14.0
1      3aa071139cb16b67ca9e5dea641aaa2f                   artes  44.0                 276.0                       1.0                 1000.0            30.0               18.0               20.0
...                                 ...                     ...                  ...                         ...                 ...               ...                ...                ...               ...
32949  83808703fc0706a22e264b9d75f04a2e  informatica_acessorios  60.0                 156.0                       2.0                  700.0            31.0               13.0               20.0
32950  106392145fca363410d287a815be6de4         cama_mesa_banho  58.0                 309.0                       1.0                 2083.0            12.0                2.0                7.0

[32951 rows x 9 columns]

Shape:
(32951, 9)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32951 entries, 0 to 32950
Data columns (total 9 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   product_id                  32951 non-null  object
 1   product_category_name       32341 non-null  object
 2   product_name_lenght         32341 non-null  float64
 3   product_description_lenght  32341 non-null  float64
 4   product_photos_qty          32341 non-null  float64
 5   product_weight_g            32949 non-null  float64
 6   product_length_cm           32949 non-null  float64
 7   product_height_cm           32949 non-null  float64
 8   product_width_cm            32949 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.3+ MB
None

Description:
|        | product_id                       | product_category_name   |   product_name_lenght |   product_description_lenght |   product_photos_qty |   product_weight_g |   product_length_cm |   product_height_cm |   product_width_cm |
|:-------|:---------------------------------|:------------------------|----------------------:|-----------------------------:|---------------------:|-------------------:|--------------------:|--------------------:|-------------------:|
| count  | 32951                            | 32341                   |            32341      |                    32341     |          32341       |           32949    |          32949      |          32949      |         32949      |
| unique | 32951                            | 73                      |              nan      |                      nan     |            nan       |             nan    |            nan      |            nan      |           nan      |
| top    | 1e9e8ef04dbcff4541ed26657ea517e5 | cama_mesa_banho         |              nan      |                      nan     |            nan       |             nan    |            nan      |            nan      |           nan      |
| freq   | 1                                | 3029                    |              nan      |                      nan     |            nan       |             nan    |            nan      |            nan      |           nan      |
| mean   | nan                              | nan                     |               48.4769 |                      771.495 |              2.18899 |            2276.47 |             30.8151 |             16.9377 |            23.1967 |
| std    | nan                              | nan                     |               10.2457 |                      635.115 |              1.73677 |            4282.04 |             16.9145 |             13.6376 |            12.079  |
| min    | nan                              | nan                     |                5      |                        4     |              1       |               0    |              7      |              2      |             6      |
| 25%    | nan                              | nan                     |               42      |                      339     |              1       |             300    |             18      |              8      |            15      |
| 50%    | nan                              | nan                     |               51      |                      595     |              1       |             700    |             25      |             13      |            20      |
| 75%    | nan                              | nan                     |               57      |                      972     |              3       |            1900    |             38      |             21      |            30      |
| max    | nan                              | nan                     |               76      |                     3992     |             20       |           40425    |            105      |            105      |           118      |

In [12]:
explore(df_product_category_name)

Table preview:

   product_category_name          product_category_name_english
0                    beleza_saude              health_beauty
1          informatica_acessorios      computers_accessories
..                            ...                           ...
69  fashion_roupa_infanto_juvenil  fashion_childrens_clothes
70             seguros_e_servicos      security_and_services

[71 rows x 2 columns]

Shape:
(71, 2)

Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71 entries, 0 to 70
Data columns (total 2 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_category_name          71 non-null     object
 1   product_category_name_english  71 non-null     object
dtypes: object(2)
memory usage: 1.2+ KB
None

Description:
|        | product_category_name   | product_category_name_english   |
|:-------|:------------------------|:--------------------------------|
| count  | 71                      | 71                              |
| unique | 71                      | 71                              |
| top    | beleza_saude            | health_beauty                   |
| freq   | 1                       | 1                               |